<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PageMaster.master.cs" Inherits="CapaPresentacion.PageMaster" %>

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<title>Riberalta FC</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="assets/css/vendor.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/default/app.min.css" rel="stylesheet" type="text/css" />
	<!-- ================== END core-css ================== -->
	<link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />

	<link href="assets/plugins/toastr/toastr.min.css" rel="stylesheet" />

    <link href="assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<link href="assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
	<!-- BEGIN #loader -->
	<div id="loader" class="app-loader">
		<span class="spinner"></span>
	</div>
	<!-- END #loader -->

	<!-- BEGIN #app -->
	<div id="app" class="app app-header-fixed app-sidebar-fixed">
		<!-- BEGIN #header -->
		<div id="header" class="app-header">
			<!-- BEGIN navbar-header -->
			<div class="navbar-header">
				<a href="#" class="navbar-brand"><span class="navbar-logo"></span> <b class="me-3px">FC-</b>RIB</a>
				<button type="button" class="navbar-mobile-toggler" data-toggle="app-sidebar-mobile">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-nav">
				
				<div class="navbar-item navbar-user dropdown">
					<a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
						<img class="imgAdmins" src="assets/img/user/user-13.jpg" alt="" /> 
						<span>
							<span class="d-none d-md-inline texApellidosAdm">Usuario</span>
							<b class="caret"></b>
						</span>
					</a>
					<div class="dropdown-menu dropdown-menu-end me-1">
						<a href="#" class="dropdown-item">Editar perfil</a>
						<div class="dropdown-divider"></div>
						<a href="#" id="salirsis" class="dropdown-item">Salir</a>
					</div>
				</div>
			</div>
			<!-- END header-nav -->
		</div>
		<!-- END #header -->
	
		<!-- BEGIN #sidebar -->
		<div id="sidebar" class="app-sidebar" data-bs-theme="dark">
			<!-- BEGIN scrollbar -->
			<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
				<!-- BEGIN menu -->

                <div class="menu">
                    <div class="menu-profile">
                        <a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
                            <div class="menu-profile-cover with-shadow"></div>
                            <div class="menu-profile-image">
                                <img class="imgAdmins" src="assets/img/user/user-13.jpg" alt="" />
                            </div>
                            <div class="menu-profile-info">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1 texApellidosAdm">
                                        Usuario
                                    </div>
                                    <div class="menu-caret ms-auto"></div>
                                </div>
                                <small id="lblDatosAd">Frontend</small>
                            </div>
                        </a>
                    </div>
                    <div id="appSidebarProfileMenu" class="collapse">
                        <div class="menu-item pt-5px">
                            <a href="javascript:;" class="menu-link">
                                <div class="menu-icon"><i class="fa fa-cog"></i></div>
                                <div class="menu-text">Ajustes</div>
                            </a>
                        </div>
                        <div class="menu-item pb-5px">
                            <a href="javascript:;" class="menu-link">
                                <div class="menu-icon"><i class="fa fa-question-circle"></i></div>
                                <div class="menu-text">Ayuda</div>
                            </a>
                        </div>
                        <div class="menu-divider m-0"></div>
                    </div>

                    <div class="menu-header">Menu de navegacion</div>

                    <div class="menu-item">
                        <a href="Inicio.aspx" class="menu-link">
                            <div class="menu-icon">
                                <i class="fab fa-simplybuilt"></i>
                            </div>
                            <div class="menu-text">Inicio </div>
                        </a>
                    </div>

                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-icon">
                                <i class="fa fa-gem"></i>
                            </div>
                            <div class="menu-text">Torneos</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="Torneos.aspx" class="menu-link">
                                    <div class="menu-text">Registro</div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="Categorias.aspx" class="menu-link">
                                    <div class="menu-text">Categorias</div>
                                </a>
                            </div>
                            <%--<div class="menu-item">
                                <a href="Partidos.aspx" class="menu-link">
                                    <div class="menu-text">Partidos</div>
                                </a>
                            </div>--%>
                        </div>
                    </div>

                    <div class="menu-item">
                        <a href="Partidos.aspx" class="menu-link">
                            <div class="menu-icon">
                                <i class="fas fa-futbol"></i>
                            </div>
                            <div class="menu-text">Partidos </div>
                        </a>
                    </div>


                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-icon">
                                <i class="fas fa-house-crack"></i>
                            </div>
                            <div class="menu-text">Panel Clubes</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="Clubes.aspx" class="menu-link">
                                    <div class="menu-text">Clubes</div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="Jugadores.aspx" class="menu-link">
                                    <div class="menu-text">Jugadores</div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="ExcelJugadores.aspx" class="menu-link">
                                    <div class="menu-text">Registro Excel</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="menu-item has-sub">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-icon">
                                <i class="fa fa-file-signature"></i>
                            </div>
                            <div class="menu-text">Inscripciones</div>
                            <div class="menu-caret"></div>
                        </a>
                        <div class="menu-submenu">
                            <div class="menu-item">
                                <a href="Inscripciones.aspx" class="menu-link">
                                    <div class="menu-text">Registro</div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="Plantillas.aspx" class="menu-link">
                                    <div class="menu-text">Plantillas</div>
                                </a>
                            </div>
                            <div class="menu-item">
                                <a href="#" class="menu-link">
                                    <div class="menu-text">Esperando</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- BEGIN minify-button -->
                    <div class="menu-item d-flex">
                        <a href="javascript:;" class="app-sidebar-minify-btn ms-auto d-flex align-items-center text-decoration-none" data-toggle="app-sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
                    </div>
                    <!-- END minify-button -->
                </div>

				<!-- END menu -->
			</div>
			<!-- END scrollbar -->
		</div>

		<div class="app-sidebar-bg" data-bs-theme="dark"></div>
		<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
		<!-- END #sidebar -->
		
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			<asp:ContentPlaceHolder ID="body" runat="server">
            </asp:ContentPlaceHolder>
		</div>
		<!-- END #content -->
		
		<!-- BEGIN theme-panel -->
        <div class="theme-panel">
            <a href="javascript:;" data-toggle="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content" data-scrollbar="true" data-height="100%">
                <h5>Ajustes Temas</h5>

                <div class="row mt-10px">
                    <div class="col-8 control-label text-body fw-bold">
                        <div>Modo Oscuro <span class="badge bg-primary ms-1 py-2px position-relative" style="top: -1px;">VER</span></div>
                        <div class="lh-14">
                            <small class="text-body opacity-50">Ajuste de apariencia para el sistema.
                            </small>
                        </div>
                    </div>
                    <div class="col-4 d-flex">
                        <div class="form-check form-switch ms-auto mb-0">
                            <input type="checkbox" class="form-check-input" name="app-theme-dark-mode" id="appThemeDarkMode" value="1" />
                            <label class="form-check-label" for="appThemeDarkMode">&nbsp;</label>
                        </div>
                    </div>
                </div>

                <div class="theme-panel-divider"></div>


                <a href="javascript:;" class="btn btn-dark d-block w-100 rounded-pill" data-toggle="reset-local-storage"><b>Recargar Sistema</b></a>
            </div>
        </div>
		<!-- END theme-panel -->
		<!-- BEGIN scroll-top-btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-theme btn-scroll-to-top" data-toggle="scroll-to-top"><i class="fa fa-angle-up"></i></a>
		<!-- END scroll-top-btn -->
	</div>
	<!-- END #app -->
	
    <!-- ================== BEGIN core-js ================== -->
    <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/app.min.js"></script>
    <!-- ================== END core-js ================== -->
    <script src="assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="assets/plugins/sweetalert/sweetalert.min.js"></script>

    <script src="assets/plugins/toastr/toastr.min.js"></script>
    <script src="assets/plugins/loadingoverlay/loadingoverlay.js"></script>

    <script src="assets/plugins/datatables.net/js/dataTables.min.js"></script>
	<script src="assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
    <script src="js/Masterpa.js?v=<%= DateTime.Now.ToString("yyyyMMddHHmmss") %>" type="text/javascript"></script>

    <asp:ContentPlaceHolder ID="footer" runat="server"></asp:ContentPlaceHolder>
</body>
</html>
